<div class="food_nav">
	<%= link_to image_tag("res_logo.png"), root_path %>
	<ul>
	<li><%= link_to 'All', foods_path %></li>
	<% Section.all.each do |section| %>
		<li><%= link_to section.name, foods_path(section: section.name) %></li>
	<% end %>
	</ul>
</div>
<div class="foodsbox">
	<% @foods.each do |food| %>
		<div class="foodbox">
			<%= link_to food.name, food %> 
			<p><%= food.price %> VND</p>
		</div>	
	<% end %>
</div>
<div class="rdetail">
	<%= image_tag("res_indexbg.png") %>
</div>