<div class="food_nav">
	<%= link_to image_tag("res_logo.png"), root_path %>
	<ul>
	<li><%= link_to 'All', foods_path %></li>
	<% Section.all.each do |section| %>
		<li><%= link_to section.name, foods_path(section: section.name) %></li>
	<% end %>
	</ul>
	<ul class="rnav">
		<li><%= link_to 'Contact', contact_path %></li>
	</ul>
</div>
<div class="detail">
	<div class="ldetail">
		<h2 class="fname"><%= @food.name %></h2>
		<p class="fdescription"><%= @food.description %></p>
		<input type="text" name="name" placeholder="Name . . ."><br>
		<input type="text" name="phone" placeholder="Phone"><br>
		<textarea type="text" name="address" placeholder="Address"></textarea>
		<%= link_to 'Order' %>
	</div>
	<div class="rdetail">
		<%= image_tag (@food.image_url) %>
	</div>
</div>	